<div class="container">
  <div class="detail">
    <div>
      <span class="greeting">Hi, my name is</span>
    </div>
    <div>
      <span class="name">Akansha Jain.</span>
    </div>
    <div>
      <span class="description">I build things for the web.</span>
    </div>
    <div >
      <span class="info" >I am a software engineer based in Bangalore, specialized in building angular applications for web.</span>
    </div>   
    <div class="get-in-touch">
      <a class="link-button" href="mailto:akansha.jn111@gmail.com">Get In Touch</a>
    </div>
       

 
  </div>
  
</div>